// Sponsors
.event-sponsor-list {
  list-style: none;
  margin: 0;
  padding: 2em 0;
  li {
    display: inline-block;
    margin: 20px;
  }
}

.sponsor {
  height: 40px;
  width: 160px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: block;
  margin-bottom: 20px;
  @include breakpoint(l) {
    margin-bottom: 0;
  }
}
.sponsor-telsome {
  width: 100px;
  background-image: url(../img/logos/telsome_grey.png);
  &:hover {
    background-image: url(../img/logos/telsome.png);
  }
}
.sponsor-10labs {
  background-image: url(../img/logos/10labs_grey.png);
  &:hover {
    background-image: url(../img/logos/10labs.png);
  }
}
.sponsor-shuttlecloud {
  background-image: url(../img/logos/shuttlecloud_grey.png);
  &:hover {
    background-image: url(../img/logos/shuttlecloud.png);
  }
}
.sponsor-centraldereservas {
  background-image: url(../img/logos/centraldereservas_grey.png);
  &:hover {
    background-image: url(../img/logos/centraldereservas.png);
  }
}
.sponsor-cuentica {
  background-image: url(../img/logos/cuentica_grey.png);
  &:hover {
    background-image: url(../img/logos/cuentica.png);
  }
}
.sponsor-semmantica {
  background-image: url(../img/logos/semmantica_grey.png);
  &:hover {
    background-image: url(../img/logos/semmantica.png);
  }
}
.sponsor-540deg {
  width: 100px;
  background-image: url(../img/logos/540deg_grey.png);
  &:hover {
    background-image: url(../img/logos/540deg.png);
  }
}

@media (max-width: 480px) {
  .event-sponsor-list li {
    display: block;
  }
  .sponsor {
    width: 100%; 
  }
  .sponsor-telsome {
    background-image: url(../img/logos/telsome.png);
  }
  .sponsor-10labs {
    background-image: url(../img/logos/10labs.png);
  }
  .sponsor-shuttlecloud {
    background-image: url(../img/logos/shuttlecloud.png);
  }
  .sponsor-centraldereservas {
    background-image: url(../img/logos/centraldereservas.png);
  }
  .sponsor-cuentica {
    background-image: url(../img/logos/cuentica.png);
  }
  .sponsor-semmantica {
    background-image: url(../img/logos/semmantica.png);
  }
  .sponsor-540deg {
    background-image: url(../img/logos/540deg.png);
  }
}
