<div class="banner pad-top-45 pad-bottom-45 pad-top-60-m pad-bottom-60-m">
  <div class="container text-center pad-top-20-m pad-bottom-20-m pad-top-55-l pad-bottom-55-l">
    <h1 id="logo" class="logo">
      <img src="img/logos/sosz17.png" alt="SOSZ17" title="SOSZ17" />
  </h1>
    <h2 class="banner-heading">25 de Marzo | Zaragoza</h2>
    <p>eTopia - Centro de Arte y Tecnología</p>
    <div class="banner-buttons">
      <a class="button button-primary" href="https://www.ticketea.com/entradas-conferencia-startup-open-space-zaragoza-2017-sosz17/"><span class="icon icon-right chevron-right">Compra tu entrada</span></a>
      <a class="button" href="#map">Localización</a>
    </div>
  </div>
</div>
